@import "./patials.scss/titulos";
@import "./patials.scss/logo";
@import "./patials.scss/variables";
@import "./patials.scss/list";
@import "./patials.scss/galeria";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-image: url('images/reposeras-header-2.jpg');
    background-color: rgba(65, 105, 225, 0.251);
    background-size: cover;
    padding: 10px 10px;

}
/*Formato principal de Pagina y Contenedores*/ 

.container-info
{
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h3
    {
    height: 300px;
    width: 300px;
    border: 3px solid black;
    overflow: hidden;
    justify-items: center;
    text-align: center;
    background-color: rgb(140, 147, 229);
    
    p
    {
    
        color: rgba(255, 0, 221, 0.816);
    }
    }
}
.container-1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;

}
.container-2
{
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a
    {
    height: 300px;
    width: 300px;
    border: 3px solid rgba(0, 0, 0, 0.388);
    overflow: hidden;
    text-align: center;
    background-color: rgb(140, 147, 229);
    font-size: 35px;
    }
}
.container-footer
{
    display: grid;
    text-align: center;
    justify-self: center;
    background-color: rgba(0, 238, 255, 0.651);
}
.container-map
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 600px;
    width: 100%;
    padding: 10px;
    p
    {
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-style: verdana sans-serif;
        padding-bottom: 10px;
        
    }
}
.form-1
{
    display:grid;
    grid-template-rows: 1vh;
    background-color: rgba(127, 255, 212, 0.525);
    height: 600%;
    width: 100%;
    padding: 30px;
    align-items: center;
    overflow: hidden;
}
.form-2
{
    justify-content: center;
    display: inline-block;
    padding: 30px;

    h3{
        align-items: center;
        font-size: 35px;
        color: black solid;
    }
    p{
        align-items: center;
        color: black solid;
        font-size: 25px;
        font-style: verdana sans-serif;
        border-radius: 15px;
        

    }
    h4{
        align-items: baseline;
        font-size: 30px;
        color: violet;
    }

}
/*..::Responsive::..*/

@media screen and (max-width: 915px)

{
    .galeria-1
    {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .galeria-2
    {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .galeria-3
    {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .container-1 nav
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .container-info
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        justify-content: space-between;
        align-content: center;   
    }
    .container-1{
        flex-direction: column;
        justify-content: space-between;
    }
    .container-2
    {
        justify-content: space-around;
        align-content: space-between;
         
    }
    .container-map
    {
        h2{
            flex-direction: column;
            align-items: center;
        }
        p{
            flex-direction: column;
            align-items: center;
        }


    }
    h4
    {
        justify-items: center;
        text-align: center;
    }
}